<template>
  <button>
    {{ name }}
  </button>
</template>

<script lang="ts" setup>
import { defineProps, withDefaults } from 'vue';
export interface Props {
  name?: string;
}
withDefaults(defineProps<Props>(), {
  name: 'Button3'
});
</script>
